@font-face {
  font-family: "Manrope-Light";
  src: url("../font/Manrope-Light.ttf");
}
@font-face {
  font-family: "Manrope-Regular";
  src: url("../font/Manrope-Regular.ttf");
}
@font-face {
  font-family: "Manrope-Medium";
  src: url("../font/Manrope-Medium.ttf");
}
@font-face {
  font-family: "Manrope-Bold";
  src: url("../font/Manrope-Bold.ttf");
}
@font-face {
  font-family: "Manrope-SemiBold";
  src: url("../font/Manrope-SemiBold.ttf");
}
@font-face {
  font-family: "Manrope-ExtraBold";
  src: url("../font/Manrope-ExtraBold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// html,
// body {
//   height: 100%;
// }
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 1400px;
  height: 100%;

  margin: 0 auto;

  background-color: #f7f6ff;

  .header {
    display: flex;

    justify-content: space-around;

    align-items: center;

    width: 100%;
    height: 85px;

    background-color: #fff;

    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);

    &-logo {
      height: 70px;
      width: 325px;

      // margin: 0 0 0 100px;

      background-image: url("../img/logo.png");
    }
    &-menu {
      display: flex;
      justify-content: space-between;

      width: 385px;

      // margin: 0 0 0 110px;

      a {
        font-family: "Manrope-Medium";
        font-size: 16px;
        color: #000000;

        text-decoration: none;
      }
    }
    &-feedback-btn {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 205px;
      height: 54px;

      // margin: 0 0 0 160px;

      background: linear-gradient(115.11deg, #9021ac 16.38%, #c8459f 84.56%);
      border-radius: 9px;

      font-family: "Manrope-SemiBold";
      font-size: 16px;
      color: #fff;
    }
  }
  .first-screen {
    display: flex;
    justify-content: space-between;

    width: 1200px;
    height: 325px;

    margin: 80px 0 0 0;

    .desc {
      &-name1 {
        font-family: "Manrope-ExtraBold";
        font-size: 45px;
        line-height: 65px;
      }
      &-name2 {
        font-family: "Manrope-Medium";
        font-size: 55px;
        line-height: 65px;
      }
      &-slogan {
        font-family: "Manrope-SemiBold";
        font-size: 16px;
        line-height: 24px;

        margin: 15 0 0 0;
      }
      &-btns {
        display: flex;
        justify-content: space-between;

        margin: 40px 0 0 0;

        &-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-grow: 1;

          font-family: "Manrope-Regular";
          font-size: 16px;
          line-height: 26px;
          color: #fff;
          background-color: #77b2d3;
          border-radius: 250px;

          padding: 14px 0;
        }
        &-btn:nth-child(2) {
          margin: 0 10px;
        }
      }
    }

    .img {
      width: 573px;
      height: 325px;

      background-image: url("../img/undraw_mobile_wireframe_re_jxui 1.png");
    }
  }
  .numbers {
    display: flex;
    flex-direction: column;

    width: 1200px;
    height: 255px;

    margin: 90px 0 0 0;
    padding: 40px 50px;

    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);

    &-slogan {
      font-family: "Manrope-Bold";
      font-size: 38px;
      line-height: 48px;
    }
    &-items {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin: 35px 0 0;

      .numbers-separator {
        width: 1px;
        height: 90px;
        background-color: #c7c7c7;
      }
      .numbers-item {
        .name {
          font-family: "Manrope-ExtraBold";
          font-size: 50px;
          line-height: 48px;

          background: linear-gradient(115.11deg, #9021ac 16.38%, #c8459f 84.56%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          // text-fill-color: transparent;
          span {
            font-family: "Manrope-ExtraBold";
            font-size: 30px;
            line-height: 48px;
          }
        }
        .desc {
          font-family: "Manrope-Medium";
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
  .services {
    display: flex;
    flex-direction: column;

    width: 1200px;

    margin: 75px 0 0;

    &-name {
      font-family: "Manrope-Bold";
      font-size: 38px;
      line-height: 48px;
    }
    &-cards {
      display: flex;
      justify-content: space-between;

      margin: 40px 0 0;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 453px;
        width: 220px;

        &-item {
          display: flex;
          flex-direction: column;
          align-items: center;

          height: 378px;

          background-color: #fff;
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
          border-radius: 15px;

          &-name {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 74px;
            width: 100%;

            padding: 0 20px;

            font-family: "Manrope-Regular";
            font-size: 18px;
            font-weight: 800;
            line-height: 26px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;

            background-color: #77b2d3;
            border-radius: 15px 15px 0px 0px;
          }
          &-list {
            display: flex;
            flex-direction: column;
            // align-items: center;

            height: 210px;
            width: 200px;

            margin: 10px 0 0;

            .list-item {
              display: flex;

              margin: 10px 0 0;
              &-img {
                height: 20px;
                width: 20px;

                background-image: url("../img/akar-icons_circle-check-fill.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
              }
              &-text {
                width: 180px;

                margin: 0 0 0 6px;

                font-family: "Manrope-Regular";
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #333333;
              }
            }

            ul {
              display: flex;
              flex-direction: column;
              align-items: center;

              margin: 0 auto;

              list-style: url("../img/akar-icons_circle-check-fill.png");

              font-family: "Manrope-Regular";
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              color: #333333;

              li {
                width: 150px;

                // text-align: center;
              }
            }
          }
          &-separator {
            height: 1px;
            width: 210px;

            margin: 20px 0 0;

            background-color: #e2e2e2;
          }
          &-prise {
            margin: 10px 0 0;

            .prise-cost {
              width: 200px;

              &-grad {
                font-family: "Manrope-Regular";
                font-weight: 800;
                font-size: 30px;
                line-height: 24px;

                background: linear-gradient(115.11deg, #9021ac 16.38%, #c8459f 84.56%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                // text-fill-color: transparent;
              }

              &-black {
                font-family: "Manrope-Regular";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #333;
              }
            }
          }
        }
        &-btn {
          display: flex;
          justify-content: center;
          align-items: center;

          height: 54px;
          width: 195px;

          margin: 20px 0 auto;

          background: linear-gradient(115.11deg, #9021ac 16.38%, #c8459f 84.56%);
          border-radius: 9px;

          font-family: "Manrope-Regular";
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          color: #ffffff;
        }
      }
    }
  }
  .form {
    display: flex;
    justify-content: space-between;

    width: 1200px;

    margin: 90px 0 0;

    .form-left {
      width: 570px;

      &-title {
        font-family: "Manrope-Regular";
        font-weight: 700;
        font-size: 38px;
        line-height: 48px;
        text-transform: uppercase;
        color: #333333;
      }
      &-desc {
        margin: 20px 0 0;

        font-family: "Manrope-Regular";
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333333;
      }
      &-frow1 {
        display: flex;
        justify-content: space-between;

        margin: 20px 0 0;

        input {
          width: 270px;
          height: 59px;

          padding: 16px 19px;

          background-color: #ffffff;
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
          border-radius: 7px;

          border: 0;

          font-family: "Manrope-Regular";
          font-weight: 300;
          font-size: 16px;
          line-height: 26px;
          color: #333333;
        }
      }
      &-frow2 {
        display: flex;

        margin: 20px 0 0;

        textarea {
          display: flex;
          flex-grow: 1;

          height: 140px;

          padding: 16px 19px;

          background-color: #ffffff;
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
          border-radius: 7px;

          border: 0;
          resize: none;

          font-family: "Manrope-Regular";
          font-weight: 300;
          font-size: 16px;
          line-height: 26px;
          color: #333333;
        }
      }
      &-frow3 {
        display: flex;

        margin: 20px 0 0;

        input {
          width: 32px;
          height: 32px;

          background-color: #ffffff;
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
          border-radius: 2px;

          border: 0;
        }
        label {
          display: flex;
          justify-content: center;
          align-items: center;

          margin: 0 0 0 12px;

          font-family: "Manrope-Regular";
          font-weight: 300;
          font-size: 16px;
          line-height: 26px;
          color: #333333;
        }
      }
      &-btn {
        width: 195px;

        margin: 20px 0 0;
        padding: 14px 55px;

        background: linear-gradient(115.11deg, #9021ac 16.38%, #c8459f 84.56%);
        border-radius: 9px;

        font-family: "Manrope-Regular";
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
      }
    }
    .form-right {
      position: relative;

      width: 570px;
      height: 511px;

      background: #ffffff;
      box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
      border-radius: 20px;

      .groupe86 {
        position: absolute;
        top: 37px;
        left: 30px;

        height: 147px;
        width: 141px;
        background: url("../img/Group 86.png");
      }
      .undraw_add_friends {
        position: absolute;
        top: 94px;
        left: 33px;

        height: 417px;
        width: 476px;
        background: url("../img/undraw_add_friends_re_3xte 1.png");
        z-index: 1;
      }
      .vector {
        position: absolute;
        top: 50px;
        left: 438px;

        height: 88px;
        width: 88px;
        background: url("../img/Vector.svg");
      }
    }
  }
  .cases {
    display: flex;
    flex-direction: column;

    width: 1320px;

    margin: 100px 0 0;

    &-title {
      margin: 0 0 0 120px;

      font-family: "Manrope-Regular";
      font-weight: 700;
      font-size: 38px;
      line-height: 48px;
      text-transform: uppercase;
      color: #333333;
    }
    &-slider {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin: 40px 0 0;

      &-cards {
        display: flex;
        justify-content: space-between;

        width: 1200px;

        .card {
          height: 518px;
          width: 570px;

          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);

          &-title {
            display: flex;
            flex-direction: column;
            height: 227px;

            padding: 10px 25px 25px 25px;

            background-color: #fff;

            border-radius: 15px 15px 0 0;

            font-family: "Manrope-Regular";
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #333333;

            .card-title-img {
              display: flex;
              align-items: center;

              flex-basis: 125px;

              .Alibaba_Logo {
                height: 112px;
                width: 150px;
              }
              .Macy_Logo {
                height: 60px;
                width: 225px;
              }
            }
          }

          &-result {
            display: flex;
            flex-direction: column;

            padding: 0 25px 25px 25px;

            font-family: "Manrope-Regular";
            font-weight: 800;
            font-size: 18px;
            line-height: 26px;
            color: #333333;

            &-title {
              margin: 20px 0 0;
            }
            .title-items {
              display: flex;
              // justify-content: space-between;

              margin: 10px 0 0;

              .title-item {
                span {
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 26px;
                }
              }
            }
          }
          &-system {
            display: flex;
            flex-direction: column;
            // height: 100%;

            padding: 25px;

            background-color: #fff;
            border-radius: 0 0 15px 15px;

            font-family: "Manrope-ExtraBold";
            font-weight: 800;
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;
            color: #333333;

            &-imgs {
              margin: 10px 0 0;
            }
          }
        }
      }
      &-left_btn {
        margin: 0 20px 0 0;
        height: 40px;
        width: 40px;
        background-image: url("../img/ep_arrow-left-bold.png");
      }
      &-right_btn {
        margin: 0 0 0 20px;
        height: 40px;
        width: 40px;
        background-image: url("../img/ep_arrow-right-bold.png");
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    flex-basis: 365px;

    width: 100%;

    margin: 90px 0 0;

    background-color: #fff;

    &-white {
      display: flex;

      height: 325px;
    }
    &-dark {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 40px;

      background-color: #2d2d2d;

      font-family: "Manrope-Regular";
      font-weight: 400;
      font-size: 14px;
      line-height: 36px;
      color: #ffffff;
    }
  }
}
