@font-face {
  font-family: 'Manrope-Light';
  src: url('../font/Manrope-Light.ttf');
}
@font-face {
  font-family: 'Manrope-Regular';
  src: url('../font/Manrope-Regular.ttf');
}
@font-face {
  font-family: 'Manrope-Medium';
  src: url('../font/Manrope-Medium.ttf');
}
@font-face {
  font-family: 'Manrope-Bold';
  src: url('../font/Manrope-Bold.ttf');
}
@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('../font/Manrope-SemiBold.ttf');
}
@font-face {
  font-family: 'Manrope-ExtraBold';
  src: url('../font/Manrope-ExtraBold.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.container {
  width: 1400px;
  margin: 0 auto;

  
  .header {
    display: flex;
    
    align-items: center;
    
    height: 85px;
    
    background-color: #fff;
    
    .logo {
      height: 70px;
      width: 325px;
      
      margin: 0 0 0 100px;
      
      background-image: url("../img/logo.png");
    }
    .menu {
      display: flex;
      justify-content: space-between;
      
      width: 385px;
      
      margin: 0 0 0 110px;

      
      a{
        font-family: 'Manrope-Medium';
        font-size: 16px;
        color: #000000;

        text-decoration: none;
      }
    }
  }
}
